<footer class="py-2 bg-hpi">

    <div class="container">

        <div class="row">
            <div class="col-xs-3 col-sm-3 text-center">
                <p class="m-0 text-center text-white"><small> Version {{ version }}</small></p>
            </div>
            <div class="col-xs-4 col-sm-4 text-center">
                <p class="m-0 text-center text-white"></p>
            </div>
            <div class="col-xs-5 col-sm-5 text-center">
                <p class="m-0 text-center text-white"><small> © 2019-2020 Hasso-Plattner-Institut für Digital Engineering gGmbH</small></p>
            </div>
        </div>
    </div>
</footer>